# Loan Approval Prediction Analysis

## Read Dataset

In [185]:
from warnings import filterwarnings
filterwarnings("ignore")

In [186]:
import os
os.chdir("D:/Code/D_Ethive/")

In [187]:
import pandas as pd
A = pd.read_csv("loan_training_set.csv")

In [188]:
A.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [189]:
A.shape

(614, 13)

In [190]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

## Missing Data treatment

In [191]:
A.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [192]:
for i in A.columns:
    if(A[i].dtypes == "object"):
        x = A[i].mode()[0]
        A[i] = A[i].fillna(x)
    else:
        x = A[i].mean()
        A[i] = A[i].fillna(x)

In [193]:
A.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

## Define X and Y

In [194]:
Y = A[["Loan_Status"]]
X = A.drop(labels=["Loan_ID","Loan_Status"],axis=1)

## EDA
    1.Ycat,Xcon --> ANOVA
    2.Ycat,Xcat --> chisquare

## Divide data in continuous and categorical

In [195]:
cat = []
con = []

for i in X.columns:
    if(A[i].dtypes == "object"):
        cat.append(i)
    else:
        con.append(i)

In [196]:
A[cat]

     Gender Married Dependents     Education Self_Employed Property_Area
0      Male      No          0      Graduate            No         Urban
1      Male     Yes          1      Graduate            No         Rural
2      Male     Yes          0      Graduate           Yes         Urban
3      Male     Yes          0  Not Graduate            No         Urban
4      Male      No          0      Graduate            No         Urban
..      ...     ...        ...           ...           ...           ...
609  Female      No          0      Graduate            No         Rural
610    Male     Yes         3+      Graduate            No         Rural
611    Male     Yes          1      Graduate            No         Urban
612    Male     Yes          2      Graduate            No         Urban
613  Female      No          0      Graduate           Yes     Semiurban

[614 rows x 6 columns]

In [197]:
A[con]

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,5849,0.0,146.412162,360.0,1.0
1,4583,1508.0,128.000000,360.0,1.0
2,3000,0.0,66.000000,360.0,1.0
3,2583,2358.0,120.000000,360.0,1.0
4,6000,0.0,141.000000,360.0,1.0
...,...,...,...,...,...
609,2900,0.0,71.000000,360.0,1.0
610,4106,0.0,40.000000,180.0,1.0
611,8072,240.0,253.000000,360.0,1.0
612,7583,0.0,187.000000,360.0,1.0
613,4583,0.0,133.000000,360.0,0.0

## ANNOVA ( Ycon and Xcat )

In [198]:
# loan_Status ~ ApplicantIncome

from statsmodels.formula.api import ols
model = ols("ApplicantIncome ~ Loan_Status",A).fit()

from statsmodels.stats.anova import anova_lm
anova_results = anova_lm(model)
anova_results[["PR(>F)"]].values[0][0]

0.907287812130378

In [199]:
# loan_Status ~ CoapplicantIncome

from statsmodels.formula.api import ols
model  = ols("CoapplicantIncome ~ Loan_Status",A).fit()

from statsmodels.stats.anova import anova_lm
anova_results = anova_lm(model)
anova_results[["PR(>F)"]].values[0][0]

0.1429482868428829

In [200]:
# Loan_Status ~ LoanAmount

from statsmodels.formula.api import ols
model = ols("LoanAmount ~ Loan_Status",A).fit()

from statsmodels.stats.anova import anova_lm
anova_results = anova_lm(model)
anova_results[["PR(>F)"]].values[0][0]

0.36768764508192575

In [201]:
# loan_Status ~ Loan_Amount_Term

from statsmodels.formula.api import ols
model = ols("Loan_Amount_Term ~ Loan_Status",A).fit()

from statsmodels.stats.anova import anova_lm
anova_results = anova_lm(model)
anova_results[["PR(>F)"]].values[0][0]

0.6039634092405202

In [202]:
# loan_Status ~ Credit_History

from statsmodels.formula.api import ols
modle = ols("Credit_History ~ Loan_Status",A).fit()

from statsmodels.stats.anova import anova_lm
anova_result = anova_lm(model)
anova_result[["PR(>F)"]].values[0][0]

0.6039634092405202

## Chisquare (Ycat,Xcat )

In [203]:
def chisquare(df,cat1,cat2):
    from scipy.stats import chi2_contingency
    import pandas as pd
    ct = pd.crosstab(df[cat1],df[cat2])
    a,b,c,d = chi2_contingency(ct)
    return b

In [204]:
chisquare(A,"Loan_Status","Gender")

0.7391461310869638

In [205]:
chisquare(A,"Loan_Status","Married")

0.029608580862582116

In [206]:
chisquare(A,"Loan_Status","Dependents")

0.3688663081366005

In [207]:
chisquare(A,"Loan_Status","Education")

0.04309962129357355

In [208]:
chisquare(A,"Loan_Status","Self_Employed")

1.0

In [209]:
chisquare(A,"Loan_Status","Property_Area")

0.0021360187811644915

## Standardization

In [210]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(X[con])

X1 = pd.DataFrame(ss.transform(X[con]),columns=con)

In [211]:
X1.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0.072991,-0.554487,0.000000,0.279851,0.45164
1,-0.134412,-0.038732,-0.219273,0.279851,0.45164
2,-0.393747,-0.554487,-0.957641,0.279851,0.45164
3,-0.462062,0.251980,-0.314547,0.279851,0.45164
4,0.097728,-0.554487,-0.064454,0.279851,0.45164

## Outlierse

In [212]:
def Outlier(df):
    con = []
    for i in df.columns:
        if(df[i].dtype !="object"):
            con.append(i)
    outliers = []
    for i in con:
        outliers.extend(list(df[df[i]>3].index))
        outliers.extend(list(df[df[i]<-3].index))
    return outliers

In [213]:
outliers(X1)

[9,
 14,
 68,
 94,
 126,
 130,
 133,
 155,
 171,
 177,
 183,
 185,
 242,
 262,
 278,
 308,
 313,
 333,
 369,
 402,
 409,
 417,
 432,
 443,
 487,
 495,
 497,
 506,
 523,
 525,
 546,
 561,
 575,
 581,
 585,
 600,
 604]

In [214]:
OL = outliers(X1)

In [215]:
X = X.drop(index=OL,axis=0)
Y = Y.drop(index=OL,axis=0)

In [216]:
X.index = range(0,X.shape[0])
Y.index = range(0,Y.shape[0])

## Preprocessing

In [217]:
def PreProcessing(df):
    cat = []
    con = []
    for i in X.columns:
        if(X[i].dtype =="object"):
            cat.append(i)
        else:
            con.append(i)
    from sklearn.preprocessing import StandardScaler
    ss = StandardScaler()
    X1 = pd.DataFrame(ss.fit_transform(df[con]),columns=con)
    X2 = pd.get_dummies(df[cat])
    Xnew = X1.join(X2)
    return Xnew

In [218]:
Xnew = PreProcessing(X)

In [219]:
Xnew

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.399266,-0.861036,0.184585,0.239408,0.456461,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,-0.028020,0.052840,-0.143355,0.239408,0.456461,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,-0.562297,-0.861036,-1.247642,0.239408,0.456461,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,-0.703039,0.567956,-0.285844,0.239408,0.456461,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,0.450230,-0.861036,0.088189,0.239408,0.456461,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,-0.596048,-0.861036,-1.158587,0.239408,0.456461,1,0,1,0,1,0,0,0,1,0,1,0,1,0,0
573,-0.189012,-0.861036,-1.710730,-3.237229,0.456461,0,1,0,1,0,0,0,1,1,0,1,0,1,0,0
574,1.149549,-0.715592,2.083030,0.239408,0.456461,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
575,0.984507,-0.861036,0.907499,0.239408,0.456461,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
576,-0.028020,-0.861036,-0.054300,0.239408,-2.372488,1,0,1,0,1,0,0,0,1,0,0,1,0,1,0

## Split Data into train & test

In [220]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

## Train Tree Model Using All Values

In [221]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(criterion="entropy",random_state=21,max_depth=2)
model = dtc.fit(xtrain,ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,pred_tr)
ts_acc = accuracy_score(ytest,pred_ts)

print("Training Error :- ", tr_acc)
print("Testing Error :- ", ts_acc)

Training Error :-  0.8134490238611713
Testing Error :-  0.8362068965517241

In [222]:
Xnew.shape

(577, 20)

## Train Tree Model Using given values
["Credit_History","CoapplicantIncome","Property_Area","Education","Married"]

In [223]:
X = X[["Credit_History","CoapplicantIncome","Property_Area","Education","Married"]]

In [224]:
Xnew = preprocessing(X)

In [225]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

In [226]:
Xnew.shape

(577, 9)

### Using DecisionTreeClassifier

In [227]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(criterion="entropy",random_state=21,max_depth=2)
model = dtc.fit(xtrain,ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,pred_tr)
ts_acc = accuracy_score(ytest,pred_ts)

print("Training Error :- ", tr_acc)
print("Testing Error :- ", ts_acc)

Training Error :-  0.8134490238611713
Testing Error :-  0.8362068965517241

## Use tuning gride to get best accuracy Gridsearch CV

In [228]:
tunning_grid = {"max_depth":range(2,5,1),"criterion":["gini","entropy"],"n_estimators":range(20,30,1)}

from sklearn.model_selection import GridSearchCV
rfc = RandomForestClassifier(random_state=21)
cv = GridSearchCV(rfc,tunning_grid,scoring="accuracy",cv = 4)

cvmodel = cv.fit(xtrain,ytrain)
cvmodel.best_params_

{'criterion': 'gini', 'max_depth': 2, 'n_estimators': 20}

### Random Forest Classifier

In [229]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(criterion='gini', max_depth=2, n_estimators= 20,random_state=21)

model = rfc.fit(xtrain,ytrain)
pred_tr = model.predict(xtrain)
pred_ts = model.predict(xtest)

from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,pred_tr)
ts_acc = accuracy_score(ytest,pred_ts)

print("Training Accuracy :- ",tr_acc)
print("Testing Accuracy :- ",ts_acc)

Training Accuracy :-  0.8112798264642083
Testing Accuracy :-  0.8448275862068966

## Getting Data ready for predictions

In [230]:
B = pd.read_csv("loan_testing_set.csv")

In [231]:
B.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [232]:
B[X.columns].head()

   Credit_History  CoapplicantIncome Property_Area     Education Married
0             1.0                  0         Urban      Graduate     Yes
1             1.0               1500         Urban      Graduate     Yes
2             1.0               1800         Urban      Graduate     Yes
3             NaN               2546         Urban      Graduate     Yes
4             1.0                  0         Urban  Not Graduate      No

In [233]:
B1 = B[X.columns].head()

## Missing data treatment

In [234]:
def replacer(A):
    for i in A.columns:
        if(A[i].dtype=="object"):
            x = A[i].mode()[0]
            A[i] = A[i].fillna(x)
        else:
            x = A[i].mean()
            A[i] = A[i].fillna(x)

In [235]:
replacer(B)

In [236]:
B.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [237]:
cat = []
con = []
for i in B.columns:
    if(B[i].dtypes == "object"):
        cat.append(i)
    else:
        con.append(i)

## Standardization

In [238]:
B1 = pd.DataFrame(ss.transform(B[con]),columns=con)
B2 = pd.get_dummies(B[cat])
Bnew = B1.join(B2)

In [239]:
Bnew.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID_LP001015,Loan_ID_LP001022,Loan_ID_LP001031,Loan_ID_LP001035,Loan_ID_LP001051,...,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.051857,-0.554487,-0.433638,0.279851,0.451640,1,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
1,-0.381297,-0.041468,-0.243092,0.279851,0.451640,0,1,0,0,0,...,1,0,0,1,0,1,0,0,0,1
2,-0.066097,0.061136,0.733459,0.279851,0.451640,0,0,1,0,0,...,0,1,0,1,0,1,0,0,0,1
3,-0.501872,0.316278,-0.552730,0.279851,-0.047954,0,0,0,1,0,...,0,1,0,1,0,1,0,0,0,1
4,-0.348532,-0.554487,-0.814731,0.279851,0.451640,0,0,0,0,1,...,0,0,0,0,1,1,0,0,0,1

In [240]:
E = pd.DataFrame([B.Loan_ID,predicted_final]).T
E.columns = ["Loan_ID","Loan_Status"]

In [241]:
E.to_csv("submission.csv")

In [242]:
E

      Loan_ID Loan_Status
0    LP001015           Y
1    LP001022           Y
2    LP001031           Y
3    LP001035           Y
4    LP001051           Y
..        ...         ...
362  LP002971           Y
363  LP002975           Y
364  LP002980           Y
365  LP002986           Y
366  LP002989           Y

[367 rows x 2 columns]